/* Whole document: */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

body{
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 110%;
  font-size: 13pt;
  text-rendering: optimizeLegibility;
}
/* Headers */
h1,h2{
  font-family: 'Noto Sans KR',sans-serif;
  font-size: 150%;
}

h3,h4,h5,h6{
  font-family: 'Noto Sans KR',sans-serif;
  font-size: 130%;
}

hr { background-color: black; height: 1.3px; border: 0; }

#vtight{
line-height: 130%;
text-indent: 2px;
}